{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="btn btn-primary" href="{{ url_for('blog.create') }}">New Post</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="accordion" id="postAccordion">
    {% for post in posts %}
      <div class="card">
        <div class="card-header" id="heading{{ loop.index }}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
              {{ post['title'] }}
            </button>
          </h2>
        </div>
        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#postAccordion">
          <div class="card-body">
            <p>{{ post['body'] }}</p>
            {% if g.user and g.user['id'] == post['author_id'] %}
            <div class="btn-group" role="group">
              <a href="{{ url_for('blog.update', id=post['id']) }}" class="btn btn-primary">Edit</a>
              <a href="{{ url_for('blog.delete', id=post['id']) }}" class="btn btn-danger">Delete</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
